<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodest Doggo | Welcome</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style>
        .rating-block {
            padding: 2px 5px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .rating-block .ratings-type {
            margin-right: 1rem;
            margin-bottom: 0;
        }

        .rating-block .rating-block {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 2rem;
        }

        .rating-block .rating-block-rating {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .rating-block .star {
            cursor: pointer;
            stroke: #cc4b37;
        }

        .rating-block .rating-block-rating .star.selected polygon {
            fill: #cc4b37;
        }

        .rating-block .rating-block-rating.is-voted .star polygon {
            fill: #cc4b37;
        }

        .rating-block .rating-block-rating.is-voted .star.selected~.star polygon {
            fill: transparent;
        }

        .blog-post {
            background: white;
            padding: 1rem;
            overflow: hidden;
            width: 100%;
            align-items: center;
            justify-content: center
        }

        h2 {
            margin: 0 0 0.5rem 0;
            padding: 0 0 0.25rem 0;
            border-bottom: 2px solid #333;
        }

        .module {
            margin: 0 0 1rem 0;
        }

        .module-dog {
            width: 100%;
            margin-right: 2%;
            height: 391px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .module-dog:nth-of-type(3n) {
            margin-right: 0;
        }

        .module-dog::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent 20%, black);
            z-index: 1;
        }

        .dog-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0.5rem;
            color: white;
            z-index: 2;
        }

        .dog-title {
            margin: 0 0 0.5rem 0;
        }

        .dog-title::before {
            content: "Name";
            display: block;
            font-size: 0.7rem;
            text-transform: uppercase;
            color: #999;
        }

        .dog-director::before {
            content: "Rating";
            display: block;
            font-size: 0.7rem;
            text-transform: uppercase;
            color: #999;
        }

        .dog-director {
            margin: 0;
        }

        .nav-link {
            color: black;
            text-decoration: none;
        }

        .nav-link:hover {
            color: black;
            text-decoration: none;
        }

        .rate-btn {
            padding: 1rem;
        }

        .log-in-form {
            border: 1px solid #cacaca;
            padding: 1rem;
            margin: 2rem;
            border-radius: 0;
        }

        .flash {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }

        .multi-button {
            display: block;
            width: 100%;
            height: 3em;
        }

        .multi-button > .left {
            display: block;
            float: left;
        }

        .multi-button > .right {
            display: block;
            float: right;
        }
    </style>
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">
                    <a href="../" class="nav-link">
                        Goodest Doggo
                    </a>
                </li>
                {% if has_database %}
                {% if logged_in %}
                <li>
                    <a href="/puppers" class="nav-link">
                        Random Puppers
                    </a>
                </li>
                <li>
                    <a href="/topten" class="nav-link">
                        Top Ten
                    </a>
                </li>
                <li>
                    <a href="/logout" class="nav-link">
                        Logout
                    </a>
                </li>
                <li><a href="/view-data" class="nav-link">View Data</a></li>
                {% else %}
                <li>
                    <a href="/login" class="nav-link">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/signup" class="nav-link">
                        Signup
                    </a>
                </li>
                {% endif %}
                {% else %}
                <li>
                    <a href="/configure" class="nav-link">
                        Configure Database
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if not database_is_working %}
    <div class="row medium-12 large-10 columns">
        <div class="margin-top-3">
            <form class="log-in-form" method="POST" action="/configure">
                <h4 class="text-center">Configure Database</h4>
                <label>Database Url
                    <input type="text" placeholder="mysql://user:password@host:3306/puppers" name="database_url">
                </label>
                <span class="alert label flash">Database is not connected; please ensure your database is running and update the credentials</span>
                <p><input type="submit" class="button expanded" value="Configure Database" /></p>
            </form>
        </div>
    </div>
    {% endif %}
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
          $(document).foundation();
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
